---
- name: Update OS Packages
  command: yum update -y
  
- name: Add EPEL Release Repositories
  yum: name=https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm state=present

- name: Add PHP Repositories
  yum: name=http://rpms.remirepo.net/enterprise/remi-release-7.rpm state=present update_cache=yes

- name : Install Base PHP Packages
  yum: name={{packages}} state=present enablerepo=remi-php73 update_cache=yes
  vars:
    packages:
    - php
    - php-opcache
    - php-mcrypt
    - php-cli
    - php-gd
    - php-curl
    - php-mysql
    - php-ldap
    - php-zip
    - php-fileinfo
    - php-gearman

# - name: Install Required PHP Packages
#   yum: name={{packages}} state=present enablerepo=remi-php73 update_cache=yes
#   vars:
#     packages:
#     - php-dom
#     - php-http
#     - php-pgsql
#     - php-posix
#     - php-redis
#     - php-simplexml
#     - php-soap
#     - php-xml
#     - php-xmlreader
#     - php-xmlwriter

# - name: Update PHP Timezone
#   command: sed -i 's/;date.timezone =/date.timezone = America\/Los_Angeles/g' /etc/php.ini

