---
- name: Create Server Directory
  win_file:
    path: C:\Server
    state: directory

- name: Create Temp Directory
  win_file:
    path: C:\Temp
    state: directory

- name: Download PHP Binaries
  win_get_url:
    url: https://windows.php.net/downloads/releases/php-7.3.11-Win32-VC15-x64.zip
    dest: C:\Temp\php.zip

- name: Extract Apache HTTP Server
  win_unzip:
    src: C:\Temp\php.zip
    dest: C:\Server\php-7.3.11

- name: Remove Temp Directory
  win_file:
    path: C:\Temp
    state: absent