---
- name: Create Temp Directory
  win_file:
    path: C:\Temp
    state: directory

- name: Copy vc_redist.x64_2015.zip
  win_copy:
    src: vc_redist.x64_2015.zip
    dest: C:\Temp\vc_redist.x64_2015.zip

- name: Extract vc_redist.x64_2015.zip
  win_unzip:
    src: C:\Temp\vc_redist.x64_2015.zip
    dest: C:\Temp

- name: Install vc_redist.x64_2015.zip
  # win_command: '"C:\Temp\vc_redist.x64_2015.exe" /install /passive /norestart'
  win_package:
    path: C:\Temp\vc_redist.x64_2015.exe
    arguments: /install /passive /norestart

- name: Copy vc_redist.x64_2013.zip
  win_copy:
    src: vc_redist.x64_2013.zip
    dest: C:\Temp\vc_redist.x64_2013.zip

- name: Extract vc_redist.x64_2013.zip
  win_unzip:
    src: C:\Temp\vc_redist.x64_2013.zip
    dest: C:\Temp

- name: Install vc_redist.x64_2013.zip
  # win_command: '"C:\Temp\vc_redist.x64_2013.exe" /install /passive /norestart'
  win_package:
    path: C:\Temp\vc_redist.x64_2013.exe
    arguments: /install /passive /norestart