---
- name: Install Redis Cache
  yum: name=redis state=present

- name: Install Redis Cache
  lineinfile: 
    dest: /etc/redis.conf
    regexp: "^bind"
    line: "bind {{ groups['cache'][0] }}"

- name: Start and Enable MySQL Service
  service: name=redis state=restarted enabled=yes

- name: Set SeLinux To Permissive
  shell: setenforce 0
  ignore_errors: yes

- name: Update SeLinux Configurations
  lineinfile: 
    dest: /etc/selinux/config
    regexp: '^SELINUX=enforcing$' 
    line: 'SELINUX=disabled'

- name: Configure firewalld Rules
  block:
    - name: Allow MySQL Port 6379
      firewalld: port=6379/tcp permanent=true state=enabled zone=public

    - name: Reload firewalld Service
      command: "firewall-cmd --reload"

  when: (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "7") or 
        (ansible_facts['distribution'] == "RHEL" and ansible_facts['distribution_major_version'] == "7")

- name: Configure iptables Rules
  block:
    - name: Allow MySQL Port 6379
      iptables: chain=INPUT protocol=tcp match=tcp destination_port=6379 jump=ACCEPT comment=Open port 6379 for MysQL

    - name: Reload iptables Service
      command: "service iptables save"

  when: (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "6") or 
        (ansible_facts['distribution'] == "RHEL" and ansible_facts['distribution_major_version'] == "6")