---
- name: Add MySQL Repositories For CentOS 6
  block:
    - name: Add MySQL Repositories For CentOS 6
      yum: name=https://dev.mysql.com/get/mysql57-community-release-el6-9.noarch.rpm state=present update_cache=yes

  when: (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "6") or 
        (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "6")

- name: Add MySQL Repositories For CentOS 7
  block:
    - name: Add MySQL Repositories For CentOS 7
      yum: name=https://dev.mysql.com/get/mysql57-community-release-el7-9.noarch.rpm state=present update_cache=yes

  when: (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "7") or 
        (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "7")

- name: Install MySQL Server
  yum: name=mysql-community-server state=present

- name: Remove Old Data Directory
  file: path=/var/lib/mysql state=absent

- name: Remove Old Log Directory
  file: path=/var/log/mysqld.log state=absent

- name: Update MySQL Configuration For CentOS 6
  block:
    - name: Update MySQL Configuration For CentOS 6
      copy: src=centos-6.my.cnf dest=/etc/my.cnf mode=0644

  when: (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "6") or 
        (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "6")

- name: Start and Enable MySQL Service
  service: name=mysqld state=restarted enabled=yes

- name: Copy Initialization Script
  copy: src=configure-mysql.sh dest=/tmp/configure-mysql.sh mode=0755

- name: Copy Database Dump
  copy: src=database.sql dest=/tmp/database.sql mode=0755

- name: Validate Initialization Script
  shell: sed -i -e 's/\r$//' /tmp/configure-mysql.sh

- name: Execute Initialization Script
  shell: /bin/bash /tmp/configure-mysql.sh

- name: Set SeLinux To Permissive
  shell: setenforce 0
  ignore_errors: yes

- name: Update SeLinux Configurations
  lineinfile: dest=/etc/selinux/config regexp='^SELINUX=enforcing$' line='SELINUX=disabled'

- name: Configure firewalld Rules
  block:
    - name: Allow MySQL Port 3306
      firewalld: port=3306/tcp permanent=true state=enabled zone=public

    - name: Reload firewalld Service
      command: "firewall-cmd --reload"
      ignore_errors: yes

  when: (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "7") or 
        (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "7")

- name: Configure iptables Rules
  block:
    - name: Allow MySQL Port 3306
      iptables: chain=INPUT protocol=tcp match=tcp destination_port=3306 jump=ACCEPT comment="Open port 3306 for MysQL"

    - name: Reload iptables Service
      command: "service iptables stop"
    
    - name: Reload iptables Configurations
      command: "chkconfig iptables off"

  when: (ansible_facts['distribution'] == "CentOS" and ansible_facts['distribution_major_version'] == "6") or 
        (ansible_facts['distribution'] == "RedHat" and ansible_facts['distribution_major_version'] == "6")